<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" type="text/css" href="../../statics/css/ionic.css">
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" media="all" type="text/css" href="../../statics/css/index.css" />
        <title>Demo Menu</title>
    </head>
    <body translate="no">
        <div id="menuprincipal" class="menuprincipal">
            <div id="wrapperMenu">
                <div class="scroller">
                    <div id="contenidoMenu">
                        <ul id="ulMenu">
                            <li>Menu Principal</li>
                            <li>
                                <div class="borde-menu color1"></div>
                                <a href="javascript:app.menuSlide('1');">
                                    <div class="opcion"><i class="ion ion-home"></i>&nbsp;&nbsp;Inicio</div>
                                    <!--<div class="descripcion">Descripcion opcion</div>-->
                                </a>
                            </li>
                            <li>
                                <div class="borde-menu color2"></div>
                                <a href="javascript:app.menuSlide('2');">
                                    <div class="opcion"><i class="ion ion-help-circled"></i>&nbsp;&nbsp;Ayuda</div>
                                </a>
                            </li>
                            <li>
                                <div class="borde-menu color3"></div>
                                <a href="javascript:app.menuSlide('3');">
                                    <div class="opcion"><i class="ion ion-close-circled"></i>&nbsp;&nbsp;Salir</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-slide" id="btn-slide">
            <i class="icon-menu" id="icon-slide" style="font-size: 27px;"></i>
        </div>
        <div id="cuerpo">
            <div class="header bar bar-header">
                <h1 class="title">Preguntados UTP</h1>
                <div class="tabs-striped tabs-top tabs-icon-top tabs-background-positive tabs-color-light" style="z-index:2;">
                    <div id="tab" class="tabs">
                        <a class="tab-item active" id="list-courses" onclick="app.TabNav(this.id, 'renderDefaultList', this, 92, 92)">
                            <i class="icon ion-ios-paper"></i>Cursos
                        </a>
                        <a class="tab-item" id="list-categories" onclick="app.TabNav(this.id, 'renderDefaultList', this, 92, 92)">
                            <i class="icon ion-clipboard"></i>Categor&iacute;as
                        </a>
                    </div>
                </div>
            </div>
            <div id="wrapper">
                <div class="scroller">
                    <div id="pullDown"  class="hide">
                        <span class="pullDownIcon"></span><span class="pullDownLabel"></span>
                    </div>

                    <ul id="list"></ul>

                    <div id="pullUp"  class="hide">
                        <span class="pullUpIcon"></span><span class="pullUpLabel">Desliza para cargar m&aacute;s...</span>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../../cordova.js"></script>
        <script type="text/javascript" src="../../statics/js/libs/jquery/jquery.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script type="text/javascript" src="../../statics/js/libs/fastclick.js"></script>
        <script type="text/javascript" src="../../statics/js/libs/iscroll.js"></script>
        <script type="text/javascript" src="../../statics/js/index.js"></script>
        <script type="text/javascript">
            document.addEventListener("deviceready", onReady, false);

            function onReady() {
                window.plugins.nativepagetransitions.executePendingTransition();

                spinnerplugin.hide();

                 app.getMainList({
                    href : 'list-courses',
                    func : 'renderDefaultList',
                    ptop : 92,
                    pwid : 92
                });

                app.initMenuAnimation(92, 92);

                var btn_slide = document.getElementById('btn-slide');
                btn_slide.addEventListener('touchstart', appSlide);
            }

            function appSlide() {
                document.getElementById('menuprincipal').classList.toggle('btn-slide-active');
            }

            $('#list').on("vclick", "a", function(){
                var courseCode = $(this).attr('alt');
                var courseName = $(this).text();
                window.localStorage.setItem("courseId", courseCode);
                window.localStorage.setItem("courseName", courseName);
                app.transition('../ranking/view-ranking.html');
            });
        </script>
    </body>
</html>